<!DOCTYPE html>
<html>
<head>
  <title>Charakku</title>
  <%= stylesheet_link_tag    "charakku/application", media: "all" %>
  <%= javascript_include_tag "charakku/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
